body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh;
    background-color: white;
    color: #333;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: linear-gradient(180deg, #a6e22e, #e4ff91);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

    .sidebar h2 {
        text-align: center;
        font-size: 17px;
        margin-bottom: 25px;
        color: #2c2c2c;
    }

    .sidebar a {
        text-decoration: none;
        padding: 10px 20px;
        color: #1a1a1a;
        font-weight: 500;
        transition: 0.3s;
    }

        .sidebar a:hover,
        .sidebar a.active {
            background-color: #c8ff83;
            border-left: 5px solid #77b300;
        }

.main-content {
    flex-grow: 1;
    padding: 30px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.card {
    flex: 1;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 25px;
    text-align: center;
}

    .card h3 {
        color: #333;
        margin-bottom: 10px;
    }

    .card .number {
        font-size: 28px;
        font-weight: 700;
        color: #0d9356;
    }

.updated-time {
    margin-top: 25px;
    color: gray;
    font-size: 14px;
}
